@font-face {
    font-family: Skyquake;
    src: url('https://themadseventeen.github.io/better-forums-assets/fonts/symbols_skyquake_short.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.user-card .first-row .names span,
.group-card .first-row .names span {
    font-family: "Skyquake", "Roboto", sans-serif;
}

:root {
    /* default values */
    --current-post-bg: #b2f591;
    --mark-reply-bg: #ffbe7e;
    --quote-bg: #ffbe7e;
    --mention-color: #af7615;
}

html.dark {
    --current-post-bg: #005e40;
    --mark-reply-bg: #422e1a;
    --quote-bg: #422e1a;
    --mention-color: #af7615;
}

.current-user-post>article .row {
    background-color: var(--current-post-bg);
    border: 2px solid var(--current-post-border);
}

.mark-reply>article .row {
    background-color: var(--mark-reply-bg);
    border: 2px solid var(--mark-reply-border);
}

article .row .topic-body aside.quote.mark-quote {
    background-color: var(--quote-bg);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

article .row .topic-body a.mark-mention {
    color: var(--mention-color);
    transition: color ease .3s, fill ease .3s, background-color ease .3s;
}

a.mention.mark-mention,
a.mention-group {
    background: var(--quote-bg);
}